<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Tic Tac Toe</title>
</head>
<body>
    <div class="container">
        <h1 id="pageTitle">Welcome to Tic-Tac-Toe!</h1>
        <button id="boardButton">Play Board</button>
        <br>
        <input type="number" id="gameIdInput" placeholder="ID">
        <button id="playButton">Play</button>
        <p id="turnMessage"></p>
        <div class="board" id="board">
            <div class="cell" id="cell-0-0"></div>
            <div class="cell" id="cell-0-1"></div>
            <div class="cell" id="cell-0-2"></div>
            <div class="cell" id="cell-1-0"></div>
            <div class="cell" id="cell-1-1"></div>
            <div class="cell" id="cell-1-2"></div>
            <div class="cell" id="cell-2-0"></div>
            <div class="cell" id="cell-2-1"></div>
            <div class="cell" id="cell-2-2"></div>
        </div>
        <button id="resetButton">Reset</button>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
